# {{ ansible_managed }}

[registries.search]
registries = {{ podman_registries_search | default([]) }}

[registries.insecure]
registries = {{ podman_registries_insecure | default([]) }}

[registries.block]
registries = {{ podman_registries_block | default([]) }}
